\:root
  --color-text: var(--app-text-default)
  --color-text-mute: var(--app-text-mute)

  --color-background: var(--app-background-default)
  --color-background-soft: var(--app-background-soft)
  --color-background-mute: var(--app-background-mute)

  --color-border: var(--app-border-default)

@media (prefers-color-scheme: dark) 
  \:root
    --color-text: var(--app-inverse-text-default)
    --color-text-mute: var(--app-inverse-text-mute)

    --color-background: var(--app-inverse-background-default)
    --color-background-soft: var(--app-inverse-background-soft)
    --color-background-mute: var(--app-inverse-background-mute)

    --color-border: var(--app-inverse-border-default)


*,
*::before,
*::after 
  box-sizing: border-box
  margin: 0
  font-weight: normal

a
  color: inherit
  text-decoration: none
h1
  font-size: $h1-font-size
  height: $h1-height
h2
  font-size: $h2-font-size
  height: $h2-height
h3
  font-size: $h3-font-size
  height: $h3-height
h4
  font-size: $h4-font-size
  height: $h4-height
h5
  font-size: $h5-font-size
  height: $h5-height
h6
  font-size: $h6-font-size
body
  color: var(--color-text)
  padding: 0 $global-bento-space
  font-family: $global-font-family
  font-size: $global-font-size
  background: var(--color-background)
  transition: color 0.5s, background-color 0.5s, border-color 0.5s, box-shadow 0.5s
